<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC1SKXOUBLt2Nrrc3F-sSH4jCLw4b8Ptxg</string>
	<key>GCM_SENDER_ID</key>
	<string>498172769727</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterproject</string>
	<key>PROJECT_ID</key>
	<string>halo-7c6f5</string>
	<key>STORAGE_BUCKET</key>
	<string>halo-7c6f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:498172769727:ios:73719ddaf9dee0fd6f9d0a</string>
</dict>
</plist>